{% extends 'mailing_service/base.html' %}
{% block content %}
<div class="container">
    <form class="row" method="post" enctype="multipart/form-data">
        <div class="col-4"></div>
        <div class="col-3">
            <div class="card text-center">
                <div class="card-body">
                    {% csrf_token %}
                    <p class="text">Введите почту</p>
                    <input type="email" name="email"></div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Сбросить пароль</button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}