{% extends 'mailing_service/base.html' %}
{% block content %}
{% include 'mailing_service/includes/inc_buttons.html' %}
<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    {% for object in object_list %}
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal"> Рассылка №{{object.pk}} </h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled">
                    <li>Статус: {{object.status}}</li>
                    <li>Частота отправки: {{object.frequency}}</li>
                    <li>Время начала/завершения: {{object.start_time}} - {{object.end_time}}</li>
                </ul>
                <ul class="list-unstyled">
                    <li>
                        <a class="btn btn-primary mb-2" href="{% url 'mailing_service:newsletter_detail' object.pk %}"
                           role="button">Подробнее</a>
                    </li>
                    <li><a class="btn btn-secondary mb-2" href="{% url 'mailing_service:newsletter_update' object.pk %}"
                           role="button">Редактировать</a></li>
                    <li><a class="btn btn-danger" href="{% url 'mailing_service:newsletter_delete' object.pk %}"
                           role="button">Удалить</a></li>
                </ul>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
