{% extends 'mailing_service/base.html' %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h3 align="center">Статистика рассылок</h3>
</div>
<div class="col-12 mb-5">
    <p>Общее количество рассылок: {{total_count}}</p>
    <p>Количество успешных рассылок: {{successful_count}}</p>
    <p>Количество неуспешных рассылок: {{unsuccessful_count}}</p>
</div>
<h3 align="center">Отчёт о попытках рассылок</h3>
<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">Статус</th>
            <th scope="col">Время попытки рассылки</th>
            <th scope="col">Ответ сервера</th>
        </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
        <tr>
            <th scope="row"></th>
            <td>{{object.pk}}</td>
            <td>{{object.success}}</td>
            <td>{{object.last_time_try}}</td>
            <td>{{object.response}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
